<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <h1>Todo List</h1>
    <% if (numberOfTasks === 0) { %>
    <p>no tasks yet...</p>
    <% } else { %>
    <ul>
      <% for (const task of tasks) { %>
        <%- include('includes/todo-item', {task}) %> 
      <% } %>
    </ul>
    <% } %>

    <h2>Add a Todo</h2>
    <form action="create-todo" method="POST" id="create-todo">
      <input type="text" name="task" placeholder="add tasks..." required />
      <br />
      <button>submit</button>
    </form>
  </body>
</html>
